export(grownet_glv)
export(grownet_listen)
export(glv_matrix)
export(glv_rates)
export(glv_scale)
export(glv_readme)
export(glv_write)
export(as_miasim)
S3method(print, grownet_glv)
S3method(summary, grownet_glv)
S3method(as.matrix, grownet_glv)
importFrom(jsonlite, fromJSON)
importFrom(utils, write.csv)
